body {
    font-family: Arial, sans-serif;
    background: rgba(237, 153, 195, 0);
    padding: 20px;
}

form {
    background: rgba(136, 201, 219, 0.151);
    padding: 20px;
    border-radius: 3px;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 8px rgba(164, 21, 21, 0.073);
}

h2 {
    text-align: center;
}

h3 {
    margin-top: 20px;
    color: #2e2789c6;
}

label {
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #777;
}

button {
    background: #0ed811b6;
    padding: 12px;
    width: 100%;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}
